@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

.container {

  text-align: center;
  width: 50%;
  margin-left: 25%;
  box-sizing: border-box;
  
}

.punto {
  color: hsl(223, 87%, 63%);
  
}

h1 {
  font-weight: 200;
  color: hsl(0, 0%, 59%);
  margin: 0 auto;
}

.bold {
  color: black;
  font-weight: 800;
}

.text {
  margin-top: 5px;
  font-size: 16px;
}

.email-input {
  padding: 15px;
}

.email-input input::placeholder {
  color: hsl(223, 100%, 88%);
  padding: 20px;
  font-size: 15px;
}

input {
  border-radius: 50px;
  border: 1px solid  hsl(223, 100%, 88%);
  height: 45px;
  width: 450px;
}

.button-one {
  background-color: hsl(223, 87%, 63%);
  height: 45px;
  width: 170px;
  border-radius: 30px;
  border: none;
  color: white;
  margin-left: 10px;
  box-shadow: -1px 6px 10px 2px hsl(223, 100%, 88%);;
  letter-spacing: 1px;
  
}

.images img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.site-social {
  padding: 10px;
}

.site-social a {
  color: hsl(223, 87%, 63%);
  border: solid 1px gray;
  border-radius: 60%; 
  padding: 8px;
  margin: 10px;
  height: 1px;
  width: 1px;
}

p {
  font-size: 20px;
  margin-top: 25px;
  color: hsl(0, 0%, 59%);

}

